body {
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
   
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}

.container .logo {
    width: 80px;
    max-width: 80px;
    height: auto;
    display: block;          /* wajib */
    margin: 0 auto 20px auto; /* auto kiri-kanan = center */
}











